:root {
    --color-primary: #363020;
    --color-secondary: #4E8098;
    --accent1-color: #7EA172;
    --accent2-color: #D1A977;
    --color-tertiary: #C7CB85;
}
header {
    background-color: var(--accent1-color);
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    image-orientation: center;
    font-family: "Roboto", serif;
    font-weight: 700;
}

p {
    color: var(--color-tertiary);
    font-family: "Roboto", serif;
    font-weight: 400;
}

.main-nav a {
    color: white;
    display: inline-block;
    padding: 10px;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h1 {
    font-family: "Montserrat", serif;
    font-weight: 300;
    position: absolute;
    color: var(--accent2-color);
    background-color: var(--color-secondary);
    padding: 10px;
    text-align: center;
    top: 200px;
    width: 100%;
}

.hero .hero-image {
    display: block;
    width: 100%;
    height: auto;
}
.hero img {
    display: block;
    float: right;
    width: 300px;
    height: auto;
}
.hero article {
    position: absolute;
    background: rgba(40, 91, 126, 0.5);
    padding: 10px;
    box-shadow: 0 0 1px #000;
    width: auto;
    height: 200px;
    margin: 0 0 10px 15px;
    bottom: 350px;
    right: 75px;
    left: 75px;
    text-decoration: none;
    color: white;
}

h2 {
    font-weight: 100;
    color: var(--color-primary);
}